@{
    Layout = null;
    var seriesTitle = "The Amazing spider man";
        var issueNumber = 700;
        var description = "<p>Final issue ! Witness the final hours of doctor Octopus</p>";
        var artists = new string[]
    {
                "Script: Dan Slott",
                "Pencils: Humberto Ramos",
                "Inks: victor Olazaba",
                "Colors: Edgar Delgado",
                "letters: Chris Eliopoulos"
    };

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>@seriesTitle</h1>
        <h2>issue # @issueNumber</h2>

        <h5>Description</h5>
        <div>@Html.Raw(description)</div>

        <h5>Artists:</h5>
        <div>@artists</div>
    
    </div>
</body>
</html>
